body {
    background-color: rgb(213,225,239);
    min-height: 100vh;
    font-family: sans-serif;
    text-align: center;
}

.card {
    position: fixed;
    margin: auto;
    inset: 0;
    width: 312px;
    height: 488px;
    border-radius: 16px;
    box-shadow: 0px 10px 20px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 1rem;
}

img {
    width: 100%;
    border-radius: 10px;
}